html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#terminal {
	font-family: 'Victor Mono', monospace;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 16px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	background-color: black;

	textarea {
		width: 100%;
		height: 100%;
		position: relative;
		resize: none;
		outline: none;
		font: inherit;
		border: 0;
		color: transparent;
		caret-color: #aa7dce;
		padding: 0;

		background-color: transparent;
	}

	> #tokens {
		color: red;
		pointer-events: none;
		position: absolute;
		width: 100%;
		background-color: transparent;

		> ._Token {
			background-color: rgba(255, 255, 255, 0.109);
			white-space: pre;
			color: whitesmoke;
			&._Directive {
				color: #f56416;
				font-style: italic;
			}
			&._Hint {
				background-color: rgba(255, 255, 255, 0.1);
				border-radius: 0.25em;
				color: #989898;
				font-style: italic;
			}
			&._Identifier {
				color: #eccfc3;
			}
			&._String {
				color: #fbb13c;
			}
			&._Number {
				color: #f65be3;
			}
			&._IrrelevantToken {
				position: relative;
				border-radius: 0.25em;
				background-color: transparent;
				min-width: 1ex;
				opacity: 0.5;
			}
			&._InvalidToken {
				text-decoration: red underline dotted;
			}
		}
	}

	&.-showTokenBoundaries {
		> #tokens {
			> ._Token {
				outline: 1px solid rgba(255, 0, 0, 0.321);
			}
		}
	}
}
